<script>
    import { onMount } from "svelte";
    import Typeahead from "svelte-typeahead";
    let input;
    export let autofocus = false;
    export let data = [];
    let value = "";
    onMount(() => {
        if (autofocus) input.focus();
        input.value = "Node.js";
    });
</script>


<div>
  <!-- <input bind:this={input}> -->

  <input
  type="search"
  bind:this={input}
  on:change={(e) => {
      console.log("?!", e.target.value);
  }}
  bind={value}
  list="dl"
/>

<datalist id="dl">
  {#each data as item}
      <option value={item} />
  {/each}
</datalist>


  
</div>