<script>
    import { onMount } from "svelte";
    import { slide, fade, fly } from "svelte/transition";
    import { ExpansionPanel } from "svelte-mui";
    export let info;
    let manfilms = [];
    let manplanets = [];


    onMount(async () => {
        for (let film_link of info.films) {
            await GetName(film_link).then((x) => {
                manfilms.push({ link: film_link, name: x });
            });
        }
        manfilms = manfilms;
        console.log(manfilms);

    //     for (let planet_link of info.) {
    //         await GetNamePlanet(planet_link).then((x) => {
    //             manplanet.push({ link: planet_link, name: x });
    //         });
    //     }
    //     manplanet=manplanet;
    //     console.log(manplanet);
     });

    const GetName = async (link) => {
        let json = await fetch(link).then((obj) => obj.json());
        if (json.hasOwnProperty("name")) {
            return await json.name;
        } else {
            return await json.title;
        }
    }
        const GetNamePlanet = async (link) => {
        let json = await fetch(link).then((obj) => obj.json());
        if (json.hasOwnProperty("name")) {
            return await json.name;
        } else {
            return await json.title;
        }
    }
</script>

<div transition:fade>
    <ExpansionPanel name={info.name}>
        {#each manfilms as mf}
            <h6 transition:fade>{mf.name}</h6>
        {/each}
        {#each manplanets as mp}
        <h6 transition:fade>{mp.name}</h6>
    {/each}
       
    </ExpansionPanel>
</div>
