<script>
    import { Icon } from "svelte-mui";
    import PrevIcon from "../PrevIcon.svelte";
    import NextIcon from "../NextIcon.svelte";
    import Lookup from "./lookup.svelte";

    export let pageCount;
    export let currentPage;
    export let Next_Previous;
    export let previousPagelink;
    export let nextPagelink;
</script>

<div>
    <Lookup />
    <Icon>
        <svelte:component this={PrevIcon} />
    </Icon>
    <Icon>
        <svelte:component this={NextIcon} />
    </Icon>
</div>

<div>
    <button
        disabled={previousPagelink == null}
        on:click={() => Next_Previous(previousPagelink)}
    >
        &lt;
    </button>
    {currentPage} / {pageCount}
    <button
        disabled={nextPagelink == null}
        on:click={() => Next_Previous(nextPagelink)}
    >
        &gt;
    </button>
</div>

<style>
    :global(.svg-icon) {
        width: 3em;
        height: 3em;
        background: white;
        fill: blue;
        cursor: pointer;
    }
</style>
