<script>
	import { tweened } from 'svelte/motion';
	import { cubicOut } from 'svelte/easing';
    export let data;

	const progress = tweened(0, {
		duration: 400,
		easing: cubicOut
        
	});
</script>
<progress value={data} max = "100"></progress>
