<script>
    import Films from "./films.svelte";
    import Other from "./other.svelte";
    import { Dialog, Icon } from "svelte-mui";
    import { section_url, is_run, section_data} from "./store.js";
    import ProgressBar from "./progressBar.svelte";

    let datas = {
        films: { data: [], comp: Films },
        vehicles: { data: [], comp: Other },    
        people: { data: [], comp: Other },
        planets: { data: [], comp: Other },
        species: { data: [], comp: Other },
        starships: { data: [], comp: Other },
    };
    let curr_data;
    let curr_comp;
    let count=0;
    const GetName = async (link) => {
        let json = await fetch(link).then((obj) => obj.json());
        count+=1;
        if (json.hasOwnProperty("name")) {
            return await json.name;
        } else {
            return await json.title;
        }
    };
    const getSection = async (req) => {
        is_run.set(true);
       count=0;

        return await fetch(req)
            .then(async (resp) => {
                count=+1;
                let json = await resp.json();
                if (resp.ok) {
                    for (let obj of json.results) {
                        for (let prop in obj) {
                            if (Array.isArray(obj[prop])) {
                                if (obj[prop].length > 0) {
                                    for (let i = 0; i < obj[prop].length; i++) {
                                        let res_name = await GetName(
                                            obj[prop][i]
                                        );
                                        obj[prop][i] = {
                                            link: obj[prop][i],
                                            name: res_name,
                                        };
                                    }
                                }
                            }
                        }
                    }

                    curr_data.push(...json.results);
                    //console.log("!!!-???", curr_data, datas);
                    curr_data = curr_data;
                    section_data.set(curr_data)

                    if (json.next) {
                        return await getSection(json.next);
                    }
                }
            })
            .then(() => true);
    };

    section_url.subscribe(async (url) => {
        let section = url.split("/")[4];
        curr_data = datas[section]["data"];
        curr_comp = datas[section]["comp"];
        section_data.set(curr_data)

        if (url && curr_data.length == 0) {
            await getSection(url).then((r) => {
                console.log("END?", r);
                is_run.set(false);
            });
        }
    });

    let visible = false;
    let dial_data;

    const openDialog = async (url) => {
        await fetch(url)
            .then((obj) => {
                let json = obj.json();
                return json;
            })
            .then((res) => {
                dial_data = res;
                visible = true;
            });
    };
    function format(k,v){
        if (k=="created" || k=="edited")
        {
          let  dd=new Date(v);
          let   x=dd.toLocaleDateString("ru-RU");
           return x;
        }
        else 
        {
            if (v.includes("http"))
            {
               return `<a href= ${v} target= "_blank"> ${v}  </a>` ;
            }
            else{
                return`<span> ${v} </span>`;
            }
        }

        //return k.toUpperCase();
    }
</script>

<Dialog width="450" bind:visible>
    <div slot="title">{dial_data.name}</div>
    <div style="display:flex;justify-content:center; flex-direction:column">
        {#each Object.entries({ ...dial_data }) as [k, v]}
            {#if !Array.isArray(v)}
                <div style="display:flex;justify-content:flex-start">
                    <div style="margin-right:10p; width:120px"><strong>{k}</strong></div>
                    <div style="margin-left:10px">{@html format(k,v)}</div>
                </div>
            {/if}
        {/each}
    </div>
</Dialog>

{#if curr_data.length}
    {#each curr_data as item, i}
        <svelte:component this={curr_comp} data={item} dialog={openDialog} />
    {/each}
{:else}
<ProgressBar data ={count}></ProgressBar>
{/if}
