<script>
    import { onMount } from "svelte";
    export let data;
    export let Func;

    onMount(() => {  Func(data[0].items); });
</script>

<div>
    {#each data as item}
        <div  on:click={() => Func(item.items)}>{item.name}</div>
    {/each}
</div>

<style>
div{
    display:flex;
margin: 10px;
}
</style>