<script>
    import SelectProp from "./Components/selectPropContainer.svelte";
    import Item from "./Components/item.svelte";  
    import Button from "svelte-atoms/Button.svelte";
   import Widthrange from "./Components/widthRange.svelte";
   import Variables from "svelte-atoms/Variables.svelte";

    let itemWidth = 20;

    let flexProps = [
        { propname: "display", default: "flex" },
        { propname: "direction", default: "row" },
        { propname: "wrap", default: "nowrap" },
        { propname: "justify-content", default: "flex-start" },
        { propname: "align-content", default: "stretch" },
        { propname: "align-items", default: "stretch" }
    ];

    function setFlexStyle(event) {
        //Обработчик выбора flex-свойства
        console.log("??", event, event.detail.prop, event.detail.propValue);
        switch (event.detail.prop) {
            case "display":
                selDisplay = event.detail.propValue;
                break;
            case "direction":
                selDirection = event.detail.propValue;
                break;
            case "wrap":
                selWrap = event.detail.propValue;
                break;
            case "justify-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-items":
                selJustContent = event.detail.propValue;
                break;
            default:
                console.log("No such prop");
        }
        
    }
    
    //Выбранные значения. Умолч-я берутся из коллекции flexProps (только в 1-й стр.)
     //Взять умолчания из коллекции
    let selDisplay = flexProps.filter((o) => o.propname == "display")[0].default;
    let selDirection = flexProps.filter((o) => o.propname == "direction")[0].default;
    let selJustContent =  flexProps.filter((o) => o.propname == "wrap")[0].default;
    let selWrap =  flexProps.filter((o) => o.propname == "justify-content")[0].default;
    let selAlignContent= flexProps.filter((o) => o.propname == "align-content")[0].default;
    let selAlignItems= flexProps.filter((o) => o.propname == "align-items")[0].default;;

    let childs = [];

function addItem() {
   
    childs = [...childs, { number: childs.length + 1 }];
}
[...Array(3).keys()].forEach(() => addItem());

function deleteItem(idx) {//Тоже можно в одну строку
        childs.splice(idx, 1);
        childs = childs; 
}
function setItemWidth(e) {
        console.log("itemWidth ", e.target.value);
        itemWidth = e.target.value;
    }
</script>

<!-- Выкладываем combobox'ы -->
{#each flexProps as prp}
    <SelectProp flex_prop={prp} on:selprop={setFlexStyle} />
{/each}

<!--вместо этого 
    <SelectProp flex_prop="display" on:selprop={setFlexStyle} />
<br />
<SelectProp flex_prop="direction" on:selprop={setFlexStyle} />
...
-->
<div>
    <Button on:click={addItem} iconLeft="plus">Добавить компонент</Button>
</div>
<div>
    <Widthrange widthDef={itemWidth} {setItemWidth} />
</div>
<div class="constr-container">
    <!-- <div
        style="border:1px solid #ddd;
               min-width:300px;
               margin-right:10px;"
    > -->
    <!-- контейнер вложенных элементов -->
    <div
        class="field"
        style="--disp:{selDisplay};
                   --dir:{selDirection};
                   --jcont:{selJustContent};
                   --wrap:{selWrap};
                   --acont:{selAlignContent};
                   --aitems:{selAlignItems}"
    >
        {#each childs as child, i}
        <Item index={i} number={child.number} delFunc={deleteItem} width={itemWidth} />
    {/each}
    </div>
    <!-- </div> -->
</div>

<style>
    .constr-container {
        min-width: 300px;
        max-width: 600px;
        margin: 20px auto;
        padding: 10px;
        border: 1px solid rgb(138, 109, 216);
    }
    .field {
        border: 3px solid yellow;
        height: 300px;
        /* -flex-переменные- */
        display: var(--disp);
        flex-direction: var(--dir);
        justify-content: var(--jcont);
        flex-wrap: var(--wrap);
    }
 </style> 
