<script>
    import SelectProp from "./Components/selectPropContainer.svelte";
    import Item from "./Components/item.svelte";
    import Button from "svelte-atoms/Button.svelte";
    import Widthrange from "./Components/widthRange.svelte";
    import Variables from "svelte-atoms/Variables.svelte";
    let itemWidth = 20;

    let flexProps = [
        { propname: "display", default: "flex" },
        { propname: "direction", default: "row" },
        { propname: "wrap", default: "nowrap" },
        { propname: "justify-content", default: "flex-start" },
        { propname: "align-content", default: "stretch" },
        { propname: "align-items", default: "stretch" },
    ];
    function setFlexStyle(event) {
        //Обработчик выбора flex-свойства
        console.log("??", event, event.detail.prop, event.detail.propValue);
        switch (event.detail.prop) {
            case "display":
                selDisplay = event.detail.propValue;
                break;
            case "direction":
                selDirection = event.detail.propValue;
                break;
            case "wrap":
                selWrap = event.detail.propValue;
                break;
            case "justify-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-items":
                selJustContent = event.detail.propValue;
                break;
            default:
                console.log("No such prop");
        }
    }
    let selDisplay = flexProps.filter((o) => o.propname == "display")[0]
        .default;
    let selDirection = flexProps.filter((o) => o.propname == "direction")[0]
        .default;
    let selJustContent = flexProps.filter((o) => o.propname == "wrap")[0]
        .default;
    let selWrap = flexProps.filter((o) => o.propname == "justify-content")[0]
        .default;
    let selAlignContent = flexProps.filter(
        (o) => o.propname == "align-content"
    )[0].default;
    let selAlignItems = flexProps.filter((o) => o.propname == "align-items")[0]
        .default;

    let childs = [];
    function addItem() {
        childs = [...childs, { number: childs.length + 1 }];
    }
    [...Array(3).keys()].forEach(() => addItem());

    function deleteItem(idx) {
        //Тоже можно в одну строку
        childs.splice(idx, 1);
        childs = childs;
    }
    function setItemWidth(e) {
        console.log("itemWidth ", e.target.value);
        itemWidth = e.target.value;
    }
</script>

<div class="container">
    <div class="top app-caption">FLEX-BOX GENERATOR</div>
    <div class="main">
        <div class="content">
             <Widthrange widthDef={itemWidth} {setItemWidth} />
             <Button on:click={addItem} iconLeft="plus">Добавить компонент</Button>
            <div
                class="field"
                style="--disp:{selDisplay};
                           --dir:{selDirection};
                           --jcont:{selJustContent};
                           --wrap:{selWrap};
                           --acont:{selAlignContent};
                           --aitems:{selAlignItems}"
            >
                {#each childs as child, i}
                    <Item
                        index={i}
                        number={child.number}
                        delFunc={deleteItem}
                        width={itemWidth}
                    />
                {/each}
            </div>
         </div> 
        <div class="controls">
            <div class="control-childs">
                {#each flexProps as prp}
                    <SelectProp flex_prop={prp} on:selprop={setFlexStyle} />
                {/each}
            </div>  
        </div>
    </div>
    <div class="bottom">
        
    </div>
</div>

<style>
    .field {
        border: 3px solid yellow;
        height: 300px;
        /* -flex-переменные- */
        overflow:scroll;
        display: var(--disp);
        flex-direction: var(--dir);
        justify-content: var(--jcont);
        flex-wrap: var(--wrap);
        align-content: var(--acont);
        align-items: var(--aitems);
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1;
    }

    .content {
        min-width: 500px;
        flex-grow: 5;
        background-color: #ddffe5;
    }

    .controls {
        flex-grow: 1;
        background-color: #eee;
        display: flex;
    justify-content: center;
    margin-top: 59px;
    }

    .top,
    .bottom {
        padding: 5px;
        background-color: aqua;
    }
</style>
