<script>
    import Menu from "./Comp/menu.svelte";
    import Content from "./Comp/content.svelte";
    let data = [
        {
            name: "ONE",
            items: [
                { name: "ONE-1", addr: "http://placebeard.it/640x480" },
                { name: "ONE-2", addr: "http://placebeard.it/640x481" },
                { name: "ONE-3", addr: "http://placebeard.it/640x482" },
            ],
        },
        {
            name: "TWO",
            items: [
                { name: "TWO-1", addr: "http://placeimg.com/640/480/any" },
                { name: "TWO-2", addr: "http://placeimg.com/640/481/any" },
                { name: "TWO-3", addr: "http://placeimg.com/640/482/any" },
            ],
        },
        {
        name: "Three",
            items: [
                { name: "Three-1", addr: "http://placeimg.com/640/480/any" },
                { name: "Three-2", addr: "http://placeimg.com/640/481/any" },
                { name: "Three-3", addr: "http://placeimg.com/640/482/any" },
            ],
        }
    ];
    let item;
    let addr = data[0].items[0].addr;

    const Title = (element) => {
        item = element;
        addr = element[0].addr;
    };
    const Item = (el) => {
        addr = el;
    };
</script>

<div class="app">
    <div class="app-container">
        <div class="app-header">
            <Menu {data} Func={Title} />
        </div>

        <div class="article">
             <div class="left-bar">
                {#if item}
                    {#each item as item}
                        <div on:click={() => Item(item.addr)}>
                            {item.name}
                        </div>
                    {/each}
                {/if}
            </div> 

            <div class="app-content">
                <Content {addr} />
            </div>
        </div>
        <div class="app-footer">foot</div>
    </div>
</div>

